*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    color: blueviolet;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 20px;
}

.title {
    font-size: 18px;
    font-family: monospace;
}

.nav{
    margin-top: 10px;
    list-style: none;
    padding-left: 0;
}

.nav li{
    display: inline-block;
    margin-right: 10px;
}

.nav a{
    text-decoration: none;
    color: white;
    background-color: #1325;
    padding: 5px;
    border-radius: 10px;
}

.nav .contacto{
    background-color: #f00;
}