:root{ 
    --primary-color: #003476;
    --secondary-color: #00A8E8;
    --header-size: 4rem;
    --font: 1.8rem;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html { 
    font-size: 62.5%;
}

header { 
    width: 100vh;
    height: 15vh;
    background-color: var(--primary-color);
}

main { 
    font-size: var(--font);
    width: 100vh;
    height: 70vh;
}

h1{
    font-size: var(--header-size);
    color: var(--secondary-color);
}

footer { 
    width: 100vh;
    height: 15vh;
    background-color: var(--secondary-color);
}
